@use 'variables';

.sinopse {
    background: linear-gradient(rgba(4,7,20, .9), rgba(4,7,20, .9)), url("../images/bg_sinopse.jpg");
    background-size: cover;
    background-position: center;
    padding: 5.6vw;
    color: variables.$corTextoPrincipal;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    letter-spacing: 2px;
    height: 100vh;

    @media(max-width: 768px){
        display: block;
        padding: 3vw;
    }


    &__text__container {
        padding: 0 2vw;
        margin-top: 48px;

        @media(max-width: 768px){
            margin-top: 28px;
            text-align: justify;
        }
    }

    img {
        max-width: 95%;
        border-radius: 8px;
        margin-top: 48px;

        @media(max-width: 768px){
            max-width: 100%;
            margin-top: 28px;
        }
    }

    h2 {
        padding-bottom: 24px;

        @media(max-width: 768px){
            padding-bottom: 14px;
        }
    }

    p {
        margin-top: 12px;
    }

    &__text__classification {
        display: flex;
        justify-content: space-between;

        @media(max-width: 768px){
            display:block;
        }

        li {
            margin-top: 36px;
        }
    }
}