@use 'variables';
@use 'header';
@use 'hero';
@use 'sinopse';
@use 'teoria';
@use 'director';
@use 'starring';

@font-face {
    font-family: Roboto;
    src: url(../../assents/fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(../../assents/fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: orbitron;
    src: url(../../assents/fonts/Orbitron-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: orbitron;
    src: url(../../assents/fonts/Orbitron-Regular.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: variables.$fontPrincipal;
}

.container {
    width: 1080px;
    max-width: 100%;
}

@mixin text($fontSize: 18px){
    font-size: $fontSize;
    color: variables.$corTextoPrincipal;
}

@mixin title($fontSize: 40px){
    font-size: $fontSize;
    color: variables.$corTextoPrincipal;
}

.title--big {
    @include title(172px);
    letter-spacing: 12px;

    @media(max-width: 768px){
        @include title(52px)
    }
}

.title {
    @include title;

    @media(max-width: 768px){
        @include text(18px)
    }
}

.text--big {
    @include text(40px);

    @media(max-width: 768px){
        @include text(18px)
    }
}

.text {
    @include text;

    @media(max-width: 768px){
        @include text(12px)
    }
}

.text--small {
    @include text(14px);

    @media(max-width: 768px){
        @include text(12px)
    }
}


